/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/fotos-premium/fondo-azul-oscuro-textura_882595-3915.jpg'); /* Cambia la ruta según corresponda */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

h1 {
    text-align: center;
    color: hwb(199 13% 4%);
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: hsl(207, 90%, 55%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: hsl(209, 83%, 53%);
}

a {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #28bbf5;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
